<extend name="Public/base" />
<block name="body">
    <input type="text" name="key"> <input type="button" value="查询" id="keyBtn"><br><br>
    <div id="page_div2"></div>
    <script>
        cloudjs('#page_div2').table({
            pageSize: 10,
            pagingFlag: 1,
            ajaxUrl: '/tkfull/index.php/Admins/Index/getLists',
            tableData: [
                {title: "id", key: "uid", sort: 'number', width: '80px'},
                {title: "用户名", key: "username", sort: 'string', width: '200px'},
                {title: "imgurl", key: function () {
                        return '<img src="/publish/{imgurl}" style="width:30px;height:30px;" title="点击放大图片"/>';
                    }, sort: 'string'},
                {title: "ctime", key: "ctime", sort: 'number', defaultSort: 1},
                {title: "操作", key: function () {
                        return '<a class="cursor" k="{uid}" title="删除这条数据">删除</a>';
                    }, className: "center", width: '60px'}
            ],
            totalCounts: function (data) {
                return data.total;
            },
            onAjax: function (data) {
                return data.users;
            },
            onBodyChange: function (obj) {
                cloudjs('img', obj).tips();
                $('img', obj).click(function () {
                    var path = $(this).attr('src');
                    bigImg(path);
                });
                cloudjs('a', obj).tips();
                $('a', obj).click(function () {
                    alert($(this).attr('k') + '不做操作');
                });
            }
        });
        
        // 大图查看
        function bigImg(path) {
            $("#bigImg").find('img').attr('src', path);
            $('#float,#bigImg').show();
        }
        $('#keyBtn').bind('click', function () {
            var params = $(this).prev().serialize();
            cloudjs('#page_div2').table('setData', {params: params, pageNum: 1});
        });
    </script>
</block>
