@charset "utf-8";
/* 本例子css */
.slideBox {
    width: 1168px;
    height: 349px;
    /* overflow:hidden; */
    position: relative;
    margin-bottom: 0px;
}
.slideBox .hd {
    overflow: hidden;
    position: absolute;
    right: 5px;
    bottom: -115px;
    z-index: 1;
    width: 1168px;
}
.slideBox .hd ul {
    overflow: hidden;
    zoom: 1;
    float: left;
    padding-left: 50px;
}
.slideBox .hd ul li {
    float: left;
    margin-right: 18px;
    cursor: pointer;
    padding-bottom: 5px;
    list-style: none;
}
.slideBox .hd ul li.on {
    /* border-bottom:5px solid #e95841; */
}
.slideBox .bd {
    position: relative;
    height: 100%;
    z-index: 0;
}
.slideBox .bd li {
    zoom: 1;
    vertical-align: middle;
    width: 1168px;
    height: 349px;
    list-style: none;
}
.slideBox .bd img {
    width: 1168px;
    height: 349px;
    display: block;
}
.slideBox .bd img {
    width: 1168px;
    height: 320px;
    display: block;
}

/* 下面是前/后按钮代码，如果不需要删除即可 */
.slideBox .prev,.slideBox .next {
    position: absolute;
    left: 1%;
    top: 50%;
    margin-top: -24px;
    display: block;
    width: 15px;
    height: 48px;
    line-height: 48px;
    background: #b1b1b1 url(../images/left_dec.png) no-repeat center center;
    text-indent: -9999px;
}
.slideBox .next {
    left: auto;
    right: 1%;
    background-image: url(../images/right_dec.png);
}
.slideBox .prev:hover,.slideBox .next:hover {
    text-decoration: none;
    background-color: #9c9b9b;
}
.slideBox .prev {
    left: 0;
}
.slideBox .next {
    right: 0;
}
.slideBox .prevStop {
    display: none;
}
.slideBox .nextStop {
    display: none;
}


.special_con{
    width: 1601px;
    position: relative;
    overflow: hidden;
    margin: auto;
}
.SuperSlide{
    position: absolute;
    top: 208px;
    left: 226px;
}
.SuperSlide{
    /*top: 29.2%;*/
    /*left: 14%;*/
    left: 218px;
}
.selectCon{
    width: 1170px;
    height: auto;
    margin: 0px auto;
    position: absolute;
    clear: both;
    top: 73px;
    left: 215px;
}
.tabb2 {
    /*
    width: 1000px;
    height: 550px;
    */
    width: 1170px;
    height: 775px;
    padding-top: 211px;
}
.tabb2 .de_left {
    float: left;
}
.tabb2 .de_left .Decoration_style {
    cursor: pointer;
    /*   
    width: 138px;
    height: 42px;
    font-size: 18px;
    line-height: 46px;
    margin-top: 15px;
    */
    width: 143px;
    height: 55px;
    font-size: 32px;
    line-height: 55px;
    margin-top: 47px;

    color: #9e003a;
    border: 1px #9e003a solid;
    text-align: center;
    font-weight: bold;
    display: block;
    background-color: transparent;
    font-weight: bold;
    /*
    background-color: #fbf8f4;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    */
}
.tabb2 .de_left .Decoration_style:hover, .tabb2 .de_left .onActive {
    color: #fff;
    border: 1px #9e003a solid;
    background-color: #9e003a;
    text-decoration: none;
}
.tabb2 .de_right {
    float: right;
}
.tabb2 .de_right .cont_de{
    width: 1008px;
    height: 564px;
    max-width: 1009px;
    max-height: 565px;
}
.tabb2 .de_right .cont_de img{
    width: 100%;
    height: 100%;
}
.conImg{
    width: 100%;
}
.morelogo{
    width: 1168px;
    height: 40px;
    background: transparent;
    position: absolute;
    top: 570px;
    margin: auto;
    left: 0;
    right: 0;
}
.ztlogo{
    width: 100%;
}
.moreppjc{
    width: 172px;
    height: 32px;
    background: transparent;
    position: absolute;
    bottom: 28px;
    margin: auto;
    left: 0;
    right: 0;
    cursor: pointer;
}


@media screen and (max-width: 1500px) and (min-width: 1px){
    .special_con{
        /*width: 100%;*/
    }
}


