.tmp
thinkgame.sql
node_modules
/onethink
/wwwroot

/tkfull/Application/Home
/tkfull/Application/Runtime
/tkfull/Public/cloudJs/
/ueditor
/publish
adist/
dist/
rev/
dev/index.html
/tkfull/nbproject/*
/tkfull/Uploads/*

dev/public/libs/layui/node_modules/

dev/public/libs/layui/release/

dev/public/libs/layui/build/

/quickStart/node_modules/
/quickStart/package-lock.json

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
/nbproject/private/



nbproject/
/angdemo/nbproject/
/angdemo/nbproject/private/
/admin/static/modules/member/views/form_1.html
/admin/static/modules/member/views/form_2.html

