<!-- navbar -->
<div class='navbar'>
    <div class='navbar-inner'>
        <div class='container'>
            <a class='brand' routerLink="/"><img src="assets/images/logo.png" alt="" /></a>
            <ul class='nav pull-right'>
                <li><a routerLink="/register" routerLinkActive="active">注册</a></li>
                <li><a routerLink="/login" routerLinkActive="active">登录</a></li>
            </ul>
            <a class="btn btn-navbar" id="responsive-sidebar-trigger">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>

