<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{pages.title}}
        <!-- <small>preview of simple tables</small> -->
    </h1>
    <ol class="breadcrumb">
        <li ng-repeat=" tips in pages.tips">
            <a href="{{tips.link}}" ng-if="tips.link == '#' "><i class="fa fa-dashboard"></i> {{tips.txt}}</a>
            <a ui-sref="{{tips.link}}" ng-if="tips.link != '#' "> {{tips.txt}}</a>
        </li>
    </ol>
</section>

<!-- Main content -->
<section class="content" ui-view=""></section>